.header {
    width: 400px;
    display: block;
    margin: auto;
}

.subtitle{
    font-size: 22px;
    font-weight: bold;
    margin-left: 645px;
    margin-right: 645px;
    color: rgb(255, 255, 255);
    margin-top: 50px;
}

.text{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    display: flex;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 350px;
    margin-right: 350px;
}

.lista{
    color: rgb(255, 255, 255);
    font-weight: bold;
    width: 30%;
    font-size: 30px;
    margin-left: 34%;
}
.titles{
    color: rgb(200, 217, 13);
    background-color: rgb(55, 46, 131);
    font-size: 40px;
    width: 30%;
    font-weight: bolder;
    margin-left: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#descripción
{
    color: rgb(200, 217, 13);
    background-color: rgb(98, 139, 0);
}
#Historia
{
    color: rgb(200, 217, 13);
    background-color: rgb(0, 132, 141);
}

.des{
    font-size: 30px;
    color: rgb(200, 217, 13);
    background-color: rgb(55, 46, 131);
    width: 30%;
    margin-left: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DASP{
    width: 145px;
    float:right;
    background-color: transparent;
}

.socials {
    width: 100px;
}

#github{
    align-content: center;
    margin-left: 45%;
}

#twitter {
    float: right;
}

footer{
    color: rgb(255, 255, 255);
    margin-left: 100px;
    font-size: 15px;
    font-weight: bold;
}

body {
        /* The image used */
        /*background-image: url("https://images5.alphacoders.com/778/778643.jpg");*/
        background-image: url(../assets/images/background/rust.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        height: 300vh;
}
